.authButtonsRight {
    position: absolute;
    left: 72.64%;
    right: 2.91%;
    top: 0.68%;
    bottom: 95.11%;

}

.authButtonsLeft {
    position: absolute;
    left: 2.91%;
    right: 72.64%;
    top: 0.54%;
    bottom: 95.24%;


}

