.mainContainer  {
    position: relative;
width: 413px;
height: 736px;
background: #E9B5B5;
backdrop-filter: blur(4px);

}
.loginForm {
    position: absolute;
left: 4.84%;
right: 4.84%;
top: 41.03%;
bottom: 23.37%;

background: #F2F2F2;
border-radius: 29px;    
}

.emailInput{
    position: absolute;
left: 15.98%;
right: 22.84%;
top: 19.84%;
bottom: 62.75%;
width: 252.68px;
height: 43px;
background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
border-radius: 5px;
background-position-y: 49px;
background-position-x: 66px;
font-family: Goudy Bookletter 1911;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140.62%;
/* or 25px */


color: rgba(0, 0, 0, 0.5);


}

.passwordInput{
    position: absolute;
    left: 15.98%;
    right: 22.84%;
    top: 44.13%;
    bottom: 38.46%;
    width: 252.68px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Goudy Bookletter 1911;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.62%;
    /* or 25px */
    
    
    color: rgba(0, 0, 0, 0.5);
    

}

.loginButton{
 position: absolute;
left: 32.65%;
right: 37.79%;
top: 68.02%;
bottom: 15.79%;
background: #000000;
border-radius: 8px;
width: 122.1px;
height: 40px;
font-family: Goudy Bookletter 1911;
font-style: normal;
font-weight: normal;

font-size: 18px;
line-height: 24px;
background-position-x: 25;
background-position-y:8;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.signInText {

    
position: absolute;
left: 34.87%;
right: 41.89%;
top: 0%;
bottom: 80.16%;

font-family: Goudy Bookletter 1911;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 49px;
/* identical to box height */

display: flex;
flex-direction: row;
align-content: space-around;
text-align: center;

color: rgba(0, 0, 0, 0.75);

}