.mainContainer  {
    position: relative;
width: 413px;
height: 736px;
background: #E9B5B5;
backdrop-filter: blur(4px);

}


.registerForm{
    position: absolute;
left: 0%;
right: 0%;
top: 35.87%;
bottom: 12.36%;

background: #F2F2F2;
border-radius: 26px;
}